# This file contains settings of Minetest Classic that can be changed in
# minetest.conf.
# By default, all the settings are commented and not functional.
# Uncomment settings by removing the preceding #.

# If enabled, a bunch of items will be given to new players.
#give_initial_stuff = false

# If enabled, hostile mobs immediately despawn.
#only_peaceful_mobs = false

# If enabled, hostile mobs will not damage the terrain.
#no_mob_griefing = false

# The modernize flags control various behaviours in Minetest Classic that
# (when a flag is enabled) differ from how Minetest-c55 0.3 would have behaved.
# By default a conservative but reasonable compromise between faithfulness and
# modern engine features is enabled.
# Note that some differences in behaviour are unavoidable or miniscule, not
# everything is configurable.
#modernize = allow_drop,allow_shadows,disable_oerkki_delete,drowning,fix_textures,glasslike,new_item_entity,node_waving,sounds,wieldhand

# If enabled, players leave footprints when walking over grass.
#footprints = false
